.Header{
    background-color: #0c52c4;
    width: 100%; 
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1{
    margin-top: 5px;
    margin-left: 5vh;
    margin-bottom: 0;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
}