.Brand{
    background-color: #0c52c4;
    width: 200px;
    text-align: center;
}

h1{
    
    margin-left: 5vh;
    margin-bottom: 0;
    padding-bottom: 5px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
}

h2{
    text-align: center;
    margin-left: 5vh;
    margin-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 10px;
    
}