nav{
    /* background-color: #3670cf; */
    background-color: #0c52c4;
    width: 100%;
}
ul{
    display: flex;
    justify-content: space-around; 
    align-items: flex-end; 
    margin-top: 0;
    list-style: none;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: whitesmoke;
}

a:hover
{
    text-decoration: underline;
}