.ResponsiveNavigation{
    align-items: center;
}
.BrandContainer{
    margin-left: 20px;
    border-right: solid white 3px;
   
}

.BrandContainer a{
    color: whitesmoke;
}

.BrandContainer a h1{
    margin-right: 20px;
    
}


.ResponsiveNavigationContainer{
    display: flex;
    justify-content: space-around;
    background-color: #0c52c4;
}
